<div class="backgroundcontainer">
    <div class="indexcontainer">
        <ul>
            <li>
                <div class="namebox">
                    <h3 class="name">I'm Dinesh Adhithya</h3>
                </div>
            </li>
            <li>
                <div class="descriptionbox">
                    <h3 class="description">A Programming enthusiast who loves to learn, build and tinker with
                       computers. Extreme opinions. Irrepressibly curious. Fascinates writing.</h3>
                </div>
            </li>
        </ul>
        <div class="iconcontainer">
            <ul>
                <li>
                    <a target="_blank" href="https://github.com/DineshAdhi?tab=repositories"><img class="icon" type="image/svg"
                            src="icons/github.png" /></a>
                    <a target="_blank" href="https://www.linkedin.com/in/dinesh-adhithya-98096a7b/"> <img class="icon"
                            type="image/svg" src="icons/linkedin.svg" /> </a>
                    <a target="_blank" href="https://dineshthoughts.wordpress.com/"> <img class="icon" type="image/svg"
                            src="icons/wordpress.svg" /> </a>
                    <a target="_blank" href="https://medium.com/@dinesh10c04"> <img class="icon" type="image/svg"
                            src="icons/medium.svg" /> </a>
                    <a target="_blank" href="https://www.quora.com/profile/Dinesh-Adhithya-1"> <img class="icon" type="image/svg"
                            src="icons/quora.svg" /> </a>
                    <a target="_blank" href="mailto:dinesh10c04@gmail.com"> <img class="icon" type="image/svg" src="icons/gmail.png" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="posts" class="pagecontainer">
       <h2 class="topicname">BLOG POSTS</h2>
        <div class="postcontainer">

            <a target="_blank" href="/posts?id=tomatoterrorist">
                <div class="postbox">
                    <div class="post">
                        <text class="posttitle"> The Tomato Terrorist & The Lok Sabha </h3>
                    </div>
                </div>
            </a>

            <a target="_blank" href="/posts?id=seeingtheunseeable">
                <div class="postbox">
                    <div class="post">
                        <text class="posttitle"> Seeing the Unseesable </h3>
                    </div>
                </div>
            </a>

            <a target="_blank" href="/posts?id=gameofcolor">
                <div class="postbox">
                    <div class="post">
                        <text class="posttitle"> Game of color </h3>
                    </div>
                </div>
            </a>

            <a target="_blank" href="/posts?id=tenmonthslater">
                <div class="postbox">
                    <div class="post">
                        <text class="posttitle"> Ten months later </h3>
                    </div>
                </div>
            </a>
            
            <a target="_blank" href="/posts?id=thoughtscience3">
                <div class="postbox">
                    <div class="post">
                        <text class="posttitle"> Thought Science - 3 </h3>
                    </div>
                </div>
            </a>

            <a target="_blank" href="/posts?id=thoughtscience2">
                <div class="postbox">
                    <div class="post">
                        <text class="posttitle"> Thought Science - 2 </h3>
                    </div>
                </div>
            </a>


            <a target="_blank" href="/posts?id=thoughtscience1">
                <div class="postbox">
                    <div class="post">
                        <text class="posttitle"> Thought Science - 1 </h3>
                    </div>
                </div>
            </a>

            <a target="_blank" href="/posts?id=relationships">
                <div class="postbox">
                    <div class="post">
                        <text class="posttitle"> Relationships </h3>
                    </div>
                </div>
            </a>

            <a target="_blank" href="/posts?id=losingthekey">
                <div class="postbox">
                    <div class="post">
                        <text class="posttitle"> Losing the key </h3>
                    </div>
                </div>
            </a>

            <a target="_blank" href="/posts?id=minutetomidnight">
                <div class="postbox">
                    <div class="post">
                        <text class="posttitle"> A Minute to Midnight </h3>
                    </div>
                </div>
            </a>

            <a target="_blank" href="/posts?id=tonystark">
                <div class="postbox">
                    <div class="post">
                        <text class="posttitle"> Tony Stark – The Marvel Avenger </h3>
                    </div>
                </div>
            </a>

            <a target="_blank" href="/posts?id=theoryofeverything">
                <div class="postbox">
                    <div class="post">
                        <text class="posttitle"> The Theory of Everything </h3>
                    </div>
                </div>
            </a>

            <a target="_blank" href="/posts?id=beingignorant">
                <div class="postbox">
                    <div class="post">
                        <text class="posttitle"> The Art of being ignorant </h3>
                    </div>
                </div>
            </a>

            <a target="_blank" href="/posts?id=divinevsdosa">
                <div class="postbox">
                    <div class="post">
                        <text class="posttitle"> Divine VS Dhosa </h3>
                    </div>
                </div>
            </a>
        </div>
</div>