<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>DineshAdhithya</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes"/>
    </head>
    <body>
        <div class="container">
            <ul>
                <li>
                    <div class="namebox">
                            <h3 class="name">I'm Dinesh Adhithya</h3>
                    </div>
                </li>
                <li>
                    <div class="descriptionbox">
                        <p class="description">I am a programming enthusiast who loves to learn, build and tinker with technologies involving computers. Also, I fascinate writing.</p>
                    </div>
                </li>
            </ul>
        </div>
    </body>
</html>