<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/blog.css">
        <title>Dinesh Adhithya</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes"/>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8482371259324774",
            enable_page_level_ads: true
        });
        </script>
    </head>
    <body>
        <div class="backgroundcontainer">
            <div class="indexcontainer">
                <ul>
                    <li>
                        <div class="namebox">
                                <h3 class="name">I'm Dinesh Adhithya</h3>
                        </div>
                    </li>
                    <li>
                        <div class="descriptionbox">
                            <h3 class="description">I am a programming enthusiast who loves to learn, build and tinker with technologies involving computers. Also, I fascinate writing.</h3>
                        </div>
                    </li>
                </ul>
                <div class="iconcontainer">
                    <ul>
                        <li>
                        <a target="_blank" href="https://github.com/DineshAdhi?tab=repositories"><img class="icon" type="image/svg" src="icons/github.png"/></a>
                        <a target="_blank" href="https://www.linkedin.com/in/dinesh-adhithya-98096a7b/"> <img class="icon" type="image/svg" src="icons/linkedin.svg"/> </a>
                        <a target="_blank" href="https://dineshadhithyablog.wordpress.com/"> <img class="icon" type="image/svg" src="icons/wordpress.svg"/> </a> 
                        <a target="_blank" href="https://twitter.com/AdhithyaDinesh"> <img class="icon" type="image/svg" src="icons/twitter.svg"/> </a>
                        <a target="_blank" href="https://www.instagram.com/dinesh.adhithya/"> <img class="icon" type="image/svg" src="icons/instagram.svg"/> </a> 
                        <a target="_blank" href="https://www.quora.com/profile/Dinesh-Adhithya-1"> <img class="icon" type="image/svg" src="icons/quora.svg"/> </a> 
                        <a target="_blank" href="mailto:dinesh10c04@gmail.com"> <img class="icon" type="image/svg" src="icons/gmail.png"/> </a> 
                        </li>  
                    </ul>
                </div>
            </div>
        </div>
        <div class="blogcontainer">
          <div class="topicnamecontainer"> <h1 class="topicname">BLOGS</h1> </div>
          <div class="postcontainer">

          </div>  
        </div>
    </body>
</html>
