<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>DineshAdhithya</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes"/>
    </head>
    <body>
        <div class="container">
            <ul>
                <li>
                    <div class="namebox">
                            <h3 class="name">I'm Dinesh Adhithya</h3>
                    </div>
                </li>
                <li>
                    <div class="descriptionbox">
                        <p class="description">I am a programming enthusiast who loves to learn, build and tinker with technologies involving computers. Also, I fascinate writing.</p>
                    </div>
                </li>
            </ul>
            <div class="iconcontainer">
                <ul>
                    <li>
                       <a target="_blank" href="https://www.linkedin.com/in/dinesh-adhithya-98096a7b/"> <img class="icon" type="image/svg" src="linkedin.svg"/> </a>
                       <a target="_blank" href="https://dineshadhithyablog.wordpress.com/"> <img class="icon" type="image/svg" src="wordpress.svg"/> </a> 
                       <a target="_blank" href="https://twitter.com/AdhithyaDinesh"> <img class="icon" type="image/svg" src="twitter.svg"/> </a>
                       <a target="_blank" href="https://www.instagram.com/dinesh.adhithya/"> <img class="icon" type="image/svg" src="instagram.svg"/> </a> 
                       <a target="_blank" href="https://www.quora.com/profile/Dinesh-Adhithya-1"> <img class="icon" type="image/svg" src="quora.svg"/> </a> 
                       <a target="_blank" href="mailto:dinesh10c04@gmail.com"> <img class="icon" type="image/svg" src="gmail.png"/> </a> 
                    </li>  
                </ul>
            </div>
        </div>
    </body>
</html>