@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');


.pagecontainer {
    height: 100vh;
    width: 100vw;
    background-color: #2B2B2B;
    clear: right;
    display: flex;
    flex-direction: column;
    padding-left: 2.5vw;
}

.topicname {
    color: #ffd700;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.3vw;
}

.postcontainer {
    margin-top: 5px;
}

.postbox {
    margin-right: 4vw;
    margin-top: 2vw;
    display: inline-block;
    padding: 0.5vw;
}

.post {
    background: black;
    display: flex;
    align-items: center;
    height: 9vh;
    transition: transform 0.3s;
}

.posttitle {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-left: 2vw;
    margin-right: 2vw;
    color: #ffd700;
}

.post:hover {
    background: #ffd700;
    transform: scale(1.05);
}

.post:hover .posttitle {
    color: black;
}

@media screen and (max-width: 800px) {

    .topicname {
        text-align: center;
    }

    .postbox {
        padding: 4vw;
        margin: 1vw;
    }


    .pagecontainer {
        padding-left: 0px;
        flex-direction: column;
    }
}